@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --primary-color: #fd5d0d;
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

table {
  width: 100%;
}

a:visited {
  color: #0000EE;
}

.container {
  max-width: 90%;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.container-header {
  align-items: center;
  vertical-align: center;
  margin-bottom: 50px;
}

.custom-img {
  width: 200px;
  border-radius: 8px;
  padding: 5px;
  border: 1px solid #ddd;
}

.custom-div {
  display: inline-block;
  padding-right: 50px;
  vertical-align: top;
}

.custom-h1 {
  font-size: 36px;
  font-weight: 600;
  color: #444;
}

.custom-h3 {
  font-weight: 600;
  color: #444;
  margin-bottom: 15px;
}

.custom-label {
  font-size: 18px;
  font-weight: 500;
  color: #444;
  padding-left: 25px;
}

.custom-random-fact-link {
  margin-right: 15px;
  background-color: #bbdefb;
  border-radius: 8px;
  padding: 10px 15px;
}

.custom-categories {
  margin-bottom: 25px;
  align-self: center;
}

.custom-data {
  display: none;
  background-color: #ff9f4f;
  border-radius: 8px;
  margin-top: 25px;
  padding: 15px;
  align-self: center;
}
